.totograph.savingsperyear {
    display: flex;
    flex-direction: column;
    margin: 12px 24px;
}
.totograph.savingsperyear .title {
    font-size: x-small;
    text-transform: uppercase;
    text-align: left;
    color:  var(--color-text-light);
}
.totograph.savingsperyear .zero-line {
    stroke: none;
}
.totograph.savingsperyear .bar-label {
    font-size: 7px;
    fill: rgba(255, 255, 255, 0.8);
}
.totograph.savingsperyear .bar-label-savings {
    font-size: x-small;
}