.game-finished {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.game-finished .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.game-finished .main .anim div {
    width: 70vw; 
}
.game-finished .main .text {
    font-size: large;
    color: var(--color-accent);
    font-weight: bold;
}
.game-finished .main .subtext {
    font-size: x-small;
    margin-top: 3px;
    opacity: 0.8;
}
.game-finished .finished-monkey {
    display: flex;
    justify-content: flex-end;
}
.game-finished .finished-monkey div {
    width: 30vw;
    margin-bottom: 12px;
}