
@keyframes monkey-load {
    from {
        transform: scale(0.6) rotate(0deg);
    }

    to {
        transform: scale(1.5) rotate(360deg);
    }
}

.monkey-loader {
    display: flex;
    justify-content: center;
}
.monkey-loader svg {
    width: 32px;
    height: 32px;
    animation: monkey-load 2s infinite alternate;
}