
.month-spending-bubble .container {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #5ddef4;
    justify-content: center;
    align-items: center;
}

.month-spending-bubble  .currency-container {}
.month-spending-bubble .currency {
    font-size: 12px;
    color: rgba(0,0,0,0.7);
}

.month-spending-bubble .amount-container {}
.month-spending-bubble .amount {
    font-size: 22px;
    color: rgba(0,0,0,0.7);
}

.month-spending-bubble .month-container {}
.month-spending-bubble .month {
    font-size: 10px;
    color: rgba(0,0,0,0.7);
    text-transform: uppercase;
    margin-bottom: 2px;
}

