
.toto-icon-button-container {
  display: flex; flex-direction: column; align-items: center;
}
.toto-icon-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 2px solid #ffeb3b;
  border-radius: 50%;
}
.toto-icon-button.disabled {opacity: 0.5;}
.toto-icon-button.no-border {border: none;}

.toto-icon-button .icon, .toto-icon-button .icon svg, .toto-icon-button svg {
  fill: #ffeb3b;
}

.toto-icon-button.xl {width: 72px; height: 72px;}
.toto-icon-button.l {width: 60px; height: 60px;}
.toto-icon-button.m {width: 48px; height: 48px;}
.toto-icon-button.ms {width: 36px; height: 36px;}
.toto-icon-button.s {width: 24px; height: 24px;}

.toto-icon-button.xl .icon, .toto-icon-button.xl .icon svg {width: 54px; height: 54px;}
.toto-icon-button.l .icon, .toto-icon-button.l .icon svg {width: 32px; height: 32px;}
.toto-icon-button.m .icon, .toto-icon-button.m .icon svg {width: 20px; height: 20px;}
.toto-icon-button.ms .icon, .toto-icon-button.ms .icon svg, .toto-icon-button.ms svg {width: 16px; height: 16px;}
.toto-icon-button.s .icon, .toto-icon-button.s .icon svg, .toto-icon-button.s svg {width: 12px; height: 12px;}

.toto-icon-button-container .label {
  margin-top: 9px;
  color: #ffeb3b;
  text-transform: uppercase;
  font-size: 10px;
}
