.toto-app {
  display: flex;
  background-color: #00acc1;
  flex: 1;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  color: rgba(0,0,0,0.7);
}

.toto-login {
  background-color: #00acc1;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toto-login .toto-login-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #004450;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  color: #5ddef4;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  transition: box-shadow 0.4s;
}
.toto-login .toto-login-button img {
  width: 100px;
  filter: grayscale(200%) brightness(2);
  margin-top: 3px;
}