.games-screen .content {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.games-screen .games-section {
    margin-top: 32px;
}
.games-screen .games-section .title {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--color-text-light);
}
.games-screen .games-container {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 24px;
    padding: 0 24px;
}
.games-screen .game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    width: 90px;
    margin: 0 auto 24px auto;
}
.games-screen .game .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin-bottom: 12px;
}
.games-screen .game .title-container {
    font-size: 12px;
    text-align: center;
}
.games-screen .game .image-container svg {
    width: 32px;
    height: auto;
    fill: currentColor;
}

/*******************************************************
 * Monkey Zen Animation
 ******************************************************/
.games-screen .content .loading-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.games-screen .content .loading-container div {
    width: 70vw;
    height: auto;
}
.games-screen .content .loading-title {
    font-size: large;
    text-align: center;
    opacity: 0.8;
}